<div class="row mt-5 mb-5">
  <div class="col-md-12 text-center"> 
    <!-- <img src="assets\images\404-not-found.jpg" alt="404 pàgina no trobada"> -->
    <h1 class="error-404">Error <b>404</b></h1>
    <h2 class="text-secondary mt-2 mb-5">Página no trobada</h2>
    <button mat-button class="mr-5" (click)="goBack()"> <mat-icon class="md-24 green600">keyboard_backspace</mat-icon> Tornar enrere</button>
    <button mat-button class="mb-5" routerLink="/temes">Tornar al menu principal</button>
  </div>
</div>