<h2 *ngIf="mode ==='add'" mat-dialog-title>Afegir Resposta</h2>
<h2 *ngIf="mode ==='delete'" mat-dialog-title>Eliminar Resposta</h2>
<form (ngSubmit)="onSubmit()" [formGroup]="answerForm">
    <mat-dialog-content>
        <div class="row">
            <div class="col-md-12">
                <mat-form-field>
                    <textarea matInput placeholder="Text" [(ngModel)]="model.text" formControlName="text" required
                        matTextareaAutosize matAutosizeMinRows="3" matAutosizeMaxRows="10" maxlength="250"></textarea>
                    <mat-error *ngIf="answerForm.controls.text.hasError('required')">
                        El text de la resposta es un camp obligatori.
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions class="mb-1 mt-1">
        <div class="col-auto mr-auto">
            <button mat-button mat-dialog-close>Enrere</button>
        </div>
        <div class="col-auto">
            <button mat-raised-button type="submit" color="primary" [disabled]="!answerForm.valid">Afegir</button>
            <button mat-raised-button *ngIf="mode ==='delete'" type="button" color="primary" (click)="delete()">Eliminar</button>
        </div>
    </mat-dialog-actions>
</form>
