<div class="card border-secondary mb-3 mat-elevation-z3">
    <a routerLink="/temes/{{data.id}}">
        <div class="card-header">
            <h5 class="card-title">{{ data.title }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{ data.category }}</h6>
        </div>
        <div class="card-body text-secondary">
            <p class="card-text">{{ data.description }}</p>
        </div>
    </a>
    <div class="card-footer bg-transparent " *ngIf="currentUser && currentUser.role === 'admin'" >
        <div class="row justify-content-around pr-2 pl-2">
            <button mat-icon-button (click)="openEditDialog()"><mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="openDeleteDialog()"><mat-icon>delete</mat-icon>
            </button>
        </div>
    </div>
</div>
