/*mat-card{
    padding: 1px;
    height: 100%;
}
mat-card a{
    text-decoration: none;
    color: black;
}
mat-card-title > a{
    font-size: 20px;
    color: black;
}
mat-card-subtitle > a{
    color: rgb(202, 202, 202);
}
.mat-card:hover {
    background-color: rgb(233, 233, 233);
}
mat-card-header{
    padding: 10px 20px 0 20px;
    background-color: rgb(245, 245, 245);
}
mat-card-header div.edit{
    margin-left: 40%;
    font-size: 36px;
}
mat-card-content{
    padding: 15px 20px;
    height: 100%;
}*/
div.card > a:hover {
    text-decoration: none;
}

div.card > a:hover div.card-body{
    background-color:  rgb(233, 233, 233);
}