<div class="mat-elevation-z3">
    <div class="filter-header">
        <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtre">
        </mat-form-field>
    </div>
    <mat-table #table [dataSource]="dataSource" matSort matSortActive="{{sortHeader}}">
        <ng-container *ngIf="profileAllowed" matColumnDef="deleteItem" class="deleteItem">
            <mat-header-cell style="flex:0 0 8%;" *matHeaderCellDef>
                <mat-icon >delete_sweep</mat-icon>
            </mat-header-cell>
            <mat-cell style="flex:0 0 8%;" *matCellDef="let row">
                <mat-checkbox (click)="$event.stopPropagation()" (change)="onSelect(row)"
                    [checked]="selection.isSelected(row)">
                </mat-checkbox>
            </mat-cell>
        </ng-container>
        <ng-container *ngFor="let column of columns" matColumnDef="{{column.name}}">
            <mat-header-cell style.flex="0 0 {{column.width}}%" *matHeaderCellDef mat-sort-header>{{column.text}}</mat-header-cell>
            <mat-cell (click)="selectRow(row)" style.flex="0 0 {{column.width}}%" *matCellDef="let row" class="mt-3 mb-3 span mobile-label">
                <span *ngIf="!column.dateFormat">{{ row[column.name] }}</span>
                <span *ngIf="column.dateFormat">{{ row[column.name] | date: column.dateFormat }}</span>
            </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator #paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true"></mat-paginator>
</div>

