mat-card{
    padding: 0;
}

mat-card-header{
    padding: 10px 20px 0 20px;
    background-color: rgb(245, 245, 245);
}

mat-card-content{
    padding: 15px 20px;
}
h4 {
    margin-bottom: 20px;
}
@media screen and (max-width: 800px) {
    .titol_preguntes {
        display: none;
    }
}