<div class="row">
    <div class="col-md-12">
        <button mat-button class="mt-3" (click)="goBack()">Enrere</button>
        <div class="card border-secondary mt-3 mb-3 mat-elevation-z1">
            <div *ngIf="theme">
                <div class="card-header">
                    <div class="row">
                        <div class="col-auto mr-auto">
                            <h4 class=" card-title">{{ theme.title }}</h4>
                        </div>
                        <div class="col-auto mt-1">
                            <h6 class="card-subtitle mb-2 text-muted"> <strong>Líder: </strong>{{ theme.leader_name }}</h6>
                        </div>
                    </div>
                </div>
                <div class="card-body text-secondary">
                    <strong>Descripció: </strong>
                    <p class="card-text">{{ theme.description }}</p>
                    <mat-chip-list>
                        <mat-chip color="primary" selected="true">{{theme.category}}</mat-chip>
                    </mat-chip-list>
                </div>
            </div>
        </div>
        <div class="row mt-4 mb-1  justify-content-between">
            <div class="col-auto titol_preguntes mr-auto">
                <h4 >Preguntes</h4>
            </div>
            <div class="col-auto">
                <button mat-raised-button (click)="openAddDialog()" *ngIf="currentUser">
                    <mat-icon class="md-24 green600">add_circle</mat-icon> Afegir Pregunta
                </button>
            </div>
            <div class="col-auto" *ngIf="selectedQuestion && currentUser && (currentUser.role === 'admin' || currentUser.role === 'lider' )" (click)="openRemoveDialog()">
                <button mat-raised-button color="warn">Eliminar Pregunta</button>
            </div>
        </div>
        <app-forum-table [data]="QuestionObservable" (rowSelected)="questionSelected($event)" [columns]="columns" 
            router-link="{{routerLink}}" [entity]="themeObservable" [comparatorProfile]="userPermissionCallback"></app-forum-table>
    </div>
</div>
