<h2 *ngIf="mode ==='add'" mat-dialog-title>Afegir Questió</h2>
<h2 *ngIf="mode ==='delete'" mat-dialog-title>Eliminar Questió</h2>
<form (ngSubmit)="onSubmit()" [formGroup]="questionForm">
    <mat-dialog-content>
        <div class="row">
            <div class="col-md-7 mb-2">
                <mat-form-field>
                    <input matInput placeholder="Asumpte" [(ngModel)]="model.subject" name="subject" formControlName="subject"
                        maxlength="75" required>
                    <mat-error *ngIf="questionForm.controls.subject.hasError('required')">
                        L'asumpte de la questió es un camp obligatori.
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col-md-12">
                <mat-form-field>
                    <textarea matInput placeholder="Text" [(ngModel)]="model.text" formControlName="text" required
                        matTextareaAutosize matAutosizeMinRows="3" matAutosizeMaxRows="10" maxlength="250"></textarea>
                    <mat-error *ngIf="questionForm.controls.text.hasError('required')">
                        El text de la questió es un camp obligatori.
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions class="mb-1 mt-1">
        <div class="col-auto mr-auto">
            <button mat-button mat-dialog-close>Enrere</button>
        </div>
        <div class="col-auto">
            <button mat-raised-button *ngIf="mode ==='add'" type="submit" color="primary" [disabled]="!questionForm.valid">Afegir</button>
            <button mat-raised-button *ngIf="mode ==='delete'" type="button" color="primary" (click)="delete()">Eliminar</button>
        </div>
    </mat-dialog-actions>
</form>
