<mat-toolbar color="primary" class="mat-elevation-z3">
    <mat-toolbar-row>
        <div class="col-md-1">
            <button routerLink="/temes" mat-button>
                <h1>Fòrum</h1>
            </button>
        </div>
        <div class="offset-md-9 col-md-1" *ngIf="!currentUser">
            <button mat-button (click)="openLogin()">Login</button>
        </div> 
          <!-- <div class=" col-md-1" *ngIf="!currentUser">
            <button mat-button (click)="loginMock('admin')">Admin</button>
        </div>
        <div class="col-md-1" *ngIf="!currentUser">
            <button mat-button (click)="loginMock('lider')">lider</button>
        </div>
        <div class="col-md-1" *ngIf="!currentUser">
            <button mat-button (click)="loginMock('basic')">basic</button>
        </div>  -->
        <div class="offset-md-8 col-md-3" *ngIf="currentUser">
            <span class="welcome"> Benvingut/da</span> <button mat-button [matMenuTriggerFor]="menuLogout" >{{currentUser.userName}}</button>
        </div>
        <mat-menu #menuLogout="matMenu" [overlapTrigger]="false">
            <button mat-menu-item (click)="logout()">Logout</button>
        </mat-menu>
    </mat-toolbar-row>
</mat-toolbar>
