<div class="row mt-4 mb-1  justify-content-between">
    <div class="col-auto mr-auto">
        <h2>TEMES</h2>
    </div>
    <div class="col-auto">
        <button mat-raised-button (click)="openAddDialog()" *ngIf="currentUser && currentUser.role === 'admin'">
            <mat-icon class="md-24 green600">add_circle</mat-icon> Afegir tema
        </button>
    </div>
</div>
<div class="row">
    <div class="col-md-4 mt-4" *ngFor="let theme of data">
        <app-item-themes [theme]="theme" (dialogEvent)="openEditDeleteDialog($event)"></app-item-themes>
    </div>
</div>
