<h2 *ngIf="mode ==='add'" mat-dialog-title>Afegir Tema</h2>
<h2 *ngIf="mode ==='edit'" mat-dialog-title>Editar Tema</h2>
<h2 *ngIf="mode ==='delete'" mat-dialog-title>Eliminar Tema</h2>
<form (ngSubmit)="onSubmit()" [formGroup]="themeForm">
    <mat-dialog-content>
        <div class="row">
            <div class="col-md-7 mb-2">
                <mat-form-field>
                    <input matInput placeholder="Títol" [(ngModel)]="model.title" name="title" formControlName="title"
                    maxlength="75" required >
                    <mat-error *ngIf="themeForm.controls.title.hasError('required')">
                        El títol del tema es un camp obligatori.
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col-md-5 mb-2">
                <mat-form-field>
                    <input matInput placeholder="Categoria" [(ngModel)]="model.category" name="categoria"
                        formControlName="category" maxlength="40" required>
                    <mat-error *ngIf="themeForm.controls.category.hasError('required')">
                        La categoria del tema es un camp obligatori.
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col-md-12">
                <mat-form-field>
                    <textarea matInput placeholder="Descripció" [(ngModel)]="model.description" formControlName="description"
                        required matTextareaAutosize matAutosizeMinRows="3" matAutosizeMaxRows="10" maxlength="250"></textarea>
                    <mat-error *ngIf="themeForm.controls.description.hasError('required')">
                        La descripció del tema es un camp obligatori.
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions class="mb-1 mt-1">
        <div class="col-auto mr-auto">
            <button mat-button mat-dialog-close>Enrere</button>
        </div>
        <div class="col-auto">
            <button mat-raised-button *ngIf="mode ==='add'" type="submit" color="primary" [disabled]="!themeForm.valid">Afegir</button>
            <button mat-raised-button *ngIf="mode ==='edit'" type="button" color="primary" (click)="edit()" [disabled]="!themeForm.valid">Editar</button>
            <button mat-raised-button *ngIf="mode ==='delete'" type="button" color="primary" (click)="delete()">Eliminar</button>
        </div>
    </mat-dialog-actions>
</form>
