<div class="row">
    <div class="col-md-12">
        <button mat-button class="mt-3" (click)="goBack()">Enrere</button>
        <div class="card border-secondary mt-3 mb-3 mat-elevation-z1">
            <div class="card-header">
                <h4 class="card-title text-muted">{{ theme?.title }}</h4>
                <div class="card-subtitle mb-2 text-muted">{{ theme?.description }}</div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-auto mr-auto text-muted">{{ question?.whoName }}</div>
                    <div class="col-auto text-muted">{{ question?.date | date:' HH:mm dd/MM/yyyy'}}</div>
                    <div class="col-md-12 mt-3">
                        <h5 class="card-title">{{ question?.text }}</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4 mb-1  justify-content-between">
            <div class="col-auto titol_respostes mr-auto">
                <h4>Respostes</h4>
            </div>
            <div class="col-auto" *ngIf="currentUser">
                <button mat-raised-button (click)="openAddDialog()">
                    <mat-icon class="md-24 green600">add_circle</mat-icon> Afegir resposta
                </button>
            </div>
            <div class="col-auto" *ngIf="selectedAnswer && currentUser && (currentUser.role === 'admin' || currentUser.role === 'lider' )" (click)="openRemoveDialog()">
                <button mat-raised-button color="warn">Eliminar Pregunta</button>
            </div>
        </div>
        <app-forum-table (rowSelected)="answerSelected($event)" [data]="answerObservable" [columns]="columns"
         [sort-header]="sortTitle" [comparatorProfile]="userPermissionCallback" [entity]="themeObservable"></app-forum-table>
    </div>
</div>
