    <!--<button class="clear"
            (click)="messageService.clear()">clear</button>-->
<div *ngIf="messageService.messages.length" class="mt-2">
  <div class="row">
    <div class="col-md-12">
      <div *ngFor='let message of messageService.messages'> 
        <div class="alert {{message.level}}">
          <a (click)="messageService.clear()" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          <div>{{message.message}} </div>
        </div>
      </div>
    </div>
  </div>
</div>